@page
@model IndexModel
@{
    ViewData["Title"] = "Testing ACR tasks";
}

<div class="text-center">
    <h1 class="display-4">Testing webhock And Testing ACR tasks</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
